.watch-list-product-detail{
  background-color: rgb(230, 238, 241);
  min-height: 500px;
}

.watch-list-items-list{
  background-color: rgb(215, 225, 230);
  box-shadow: inset -2px 0px 10px -5px;
}

.watch-list-item{
  border-bottom: solid 1px rgb(179, 186, 191);
  min-height: 100px;
  cursor: pointer;
}

.watch-list-item:hover{
  box-shadow: inset -5px 0px 10px -5px;
}

.watch-list-item.active{
  background-color: rgb(230, 238, 241);
  box-shadow: 0px 2px 10px -5px rgba(0,0,0,0.75);
}
