<div class="row" *ngIf="this.currentWatchlistItem!==undefined; else show_loading">
  <div class="col col-lg-4 watch-list-items-list">
    <div class="row watch-list-item" *ngFor="let watchlistItem of watchlist" [ngClass]="{'active':this.currentWatchlistItem === watchlistItem}" (click)="setCurrentWatchlistItem(watchlistItem)">
      <div class="col col-lg-12">
        {{watchlistItem.product.productName}} x{{watchlistItem.quantity}}
        <div>
          <ng-container *ngFor="let attr of watchlistItem.product.variantAttrs; let last = last">
            {{attr.baseValues[0].baseValueName}}<ng-container *ngIf="!last">, </ng-container>
          </ng-container>
        </div>
        <div>
          Ship To: {{this.getAddress(watchlistItem.addressId)}}
        </div>
      </div>
    </div>
  </div>
  <div class="col col-lg-8 watch-list-product-detail">
    {{this.currentWatchlistItem.product.productName}}
  </div>
</div>
<ng-template #show_loading>
  <div class="row">
    <div class="col col-lg-12">
      <h1>Loading Watchlist...</h1>
    </div>
  </div>
</ng-template>
