<div class="row">
  <div class="col offset-sm-1 col-sm-3">
      Zwoop Icon Here
  </div>
  <div class="col col-sm-8">
    <div class="row text-right">
      <div class="col offset-sm-7 col-sm-1">
        <a href="">Sign Up</a>
      </div>
      <div class="col col-sm-1">
        <a href="">Login</a>
      </div>
      <div class="col col-sm-2">
        <a href="">Merchant Login</a>
      </div>
    </div>
    <div class="row text-right">
      <div class="col offset-sm-8 col-sm-1 align-self-center">
        <a href="">About Us</a>
      </div>
      <div class="col col-sm-2">
        <button class="btn btn-primary float-right font-weight-bold">DOWNLOAD NOW</button>
      </div>
    </div>
  </div>
</div>
