<div id="zwoop-footer" class="row">
    <div class="col offset-lg-1 col-lg-2">
        Zwoop Icon Here
    </div>
    <div class="col col-lg-1">
      <div>
        RESOURCES
      </div>
      <ul>
        <li>
          FAQ
        </li>
        <li>
          Privacy
        </li>
        <li>
          Terms & Conditions
        </li>
      </ul>
    </div>

    <div class="col col-lg-1">
      <div>
        ABOUT US
      </div>
      <ul>
        <li>
          Investor relations
        </li>
        <li>
          Merchant center


        </li>
      </ul>
    </div>
    <div class="col offset-lg-4 col-lg-2">
      CONNECT
    </div>
</div>
