<form (ngSubmit)="onSubmit()">
  <input type="text" name="email" [(ngModel)]="username">
  <input type="password" name="password" [(ngModel)]="password">
  <button type="submit">Submit</button>
</form>
