<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<nav>
  <a routerLink="/watchlist">Watch List</a>
  <!--<a routerLink="/login">Login</a>-->
  <a href="https://customer-api-dev.zwoop.xyz/auth/zwoop">Login</a>
</nav>
<ng-container *ngIf="this.customer!==undefined">
  {{this.customer.fullName}}
</ng-container>
<router-outlet></router-outlet>
<app-footer></app-footer>
